/* Transition timers */

.transition-05 {
    transition: all .5s ease;
}

.transition-05:hover {
    transition: all .5s ease;
}

.transition-05:active {
    transition: all .5s ease;
}

.transition-1 {
    transition: all 1s ease;
}

.transition-1:hover {
    transition: all 1s ease;
}

.transition-1:active {
    transition: all 1s ease;
}

/* Buttons */

.button-fill:hover {
    transform: translateY(-0.5rem);
}

.button-nofill:hover {
    transform: translateY(-0.5rem);
}

.icon-fill:hover {
    transform: translateY(-5px);
}