.home-content {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-around;
  align-items: center;
  margin-left: 7.5vw;
  margin-right: 7.5vw;
}

#home-content-text {
  display: flex;
  justify-content: center;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  width: fit-content;
  margin: auto;
  transition: all 1s;
}

#home-content-text:hover {
  background-image: url("../images/home-page/cowboy.png");
}

.home-greeting {
  font-family: "CooperHewitt Bold";
  color: black;
  font-size: 65px;
  text-align: center;
  transition: all .2s;
}

.home-greeting:hover {
  color: rgb(0, 0, 0, 0.025);
}

#home-image {
  width: 550px;
}

#tw-subhead {
  font-family: "Courier Bold";
  color: #4285f4;
  font-size: 24px;
  text-align: center;
}

.contact-button-link {
  text-decoration: none;
}

.contact-button {
  text-align: center;
  cursor: pointer;
  font-size: 18px;
  font-family: "CooperHewitt";
  border-radius: 10px;
  padding: 10px 14px 10px 14px;
  margin-right: 10px;
}

#linkedin-button {
  border: 2px;
  border-style: solid;
  border-color: transparent;
  background-color: #007bff;
  color: white;
}

#linkedin-button:hover {
  transition: 1s;
  background-color: #005dc2;
}

#linkedin-button:active {
  background-color: #005dc2;
  transform: translateY(3px);
}

#email-button {
  background-color: transparent;
  color: #007bff;
  border: 2px;
  border-style: solid;
  border-color: #007bff;
}

#email-button:hover {
  transition: 1s;
  background-color: #005dc2;
  color: white;
  border-color: transparent;
}

#email-button:active {
  background-color: #005dc2;
  transform: translateY(3px);
}

#contact-footer {
  font-family: "CooperHewitt";
  font-size: 18px;
}

.home-section {
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 10px;
  background-color: rgb(250, 244, 232);
}

#about-header {
  font-family: "CooperHewitt Bold";
  color: #007bff;
  font-size: 60px;
  text-align: center;
  transition: all .2s;
}

#about-header:hover {
  color: rgb(0, 123, 255, 0.025);
}

.about-subhead {
  font-family: "CooperHewitt MedBold";
  font-size: 24px;
  line-height: 1.6;
  margin-bottom: 10px;
}

#brain-container {
  display: flex;
  justify-content: center;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: fit-content;
  margin: auto;
  transition: all 1s;
}

#brain-container:hover {
  background-image: url("../images/home-page/light-bulb.png");
}

.home-about-me {
  font-family: "CooperHewitt";
  color: black;
  font-size: 18px;
  line-height: 1.6;
  margin-top: 20px;
  margin-left: 25vw;
  margin-right: 25vw;
  margin-bottom: 50px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

@media only screen and (max-width: 1200px) {
  .home-content {
    display: grid;
    grid-template-columns: auto;
    justify-content: space-around;
    margin-left: 5vw;
    margin-right: 5vw;
  }

  .home-greeting {
    font-size: 40px;
  }

  #home-image {
    width: 400px;
  }

  #tw-subhead {
    font-size: 22px;
  }

  #home-content-text {
    padding-top: 50px;
    padding-bottom: 0px;
  }

  .home-about-me {
    margin-left: 20vw;
    margin-right: 20vw;
  }
}

@media only screen and (max-width: 900px) {
  .home-content {
    display: grid;
    grid-template-columns: auto;
    margin-left: 5vw;
    margin-right: 5vw;
  }

  .home-greeting {
    font-size: 40px;
  }

  #about-header {
    font-size: 40px;
  }

  #tw-subhead {
    font-size: 20px;
  }

  .home-about-me {
    margin-left: 10vw;
    margin-right: 10vw;
  }
}

@media only screen and (max-width: 500px) {
  #home-image {
    width: 90vw;
  }

  .home-greeting {
    font-size: 30px;
  }

  #about-header {
    font-size: 30px;
  }

  .about-subhead {
    font-size: 20px;
  }

  .home-about-me {
    font-size: 16px;
  }
}

@media only screen and (max-width: 375px) {

  #about-header {
    font-size: 28px;
  }
}
