.projects-content {
  min-height: 95vh;
}

.image-header {
  min-height: 150px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#heebiekeebies-header {
  background-image: url("../images/work-page/heebiekeebies/mockup.png");
}

#projectalone-header {
  background-image: url("../images/work-page/PROJECT-Alone/mockup.png");
}

#slashmc-header {
  background-image: url("../images/work-page/slashMC/mockup.png");
}

#audiokast-header {
  background-image: url("../images/work-page/Audiokast/mockup.png");
}

#collabapp-header {
  background-image: url("../images/work-page/CollabApp/mockup.png");
}

#projectnightwalk-header {
  background-image: url("../images/work-page/PROJECT-Nightwalk/tabprev-noop.png");
}

#nightwalk-vid {
  width: 50vw;
  height: 50vh;
}

.project-headline {
  background-color: rgb(0, 123, 255, 0.2);
  font-family: "CooperHewitt Bold";
  font-size: 60px;
  line-height: 150px;
  color: white;
}

.project-subhead {
  padding: 40px;
  text-align: center;
  font-family: "Courier";
  font-size: 25px;
  color: #007bff;
  line-height: 30px;
}

.project-layout {
  display: grid;
  grid-template-columns: 55% 20%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.project-layout-item {
  margin: 30px;
}

.copy-subhead {
  font-family: "Courier";
  font-size: 30px;
  color: #4285f4;
}

.copy-image {
  width:100%;
  margin-top: 25px;
  margin-bottom: 25px;
}

.copy-body {
  font-family: "CooperHewitt";
  font-size: 18px;
  color: black;
  letter-spacing: 0.5px;
  line-height: 225%;
}

.copy-link {
  color: #F59B5B;
  font-family: "CooperHewitt Bold";
  letter-spacing: .1rem;
  font-size: 22px;
  text-align: center;
}

.skills-header {
  font-family: "Courier";
  font-size: 25px;
  color: #4285f4;
}

.skills-list-items {
  font-family: "Courier";
  color: black;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

@media only screen and (max-width: 1200px) {
  .project-layout {
    display: grid;
    grid-template-columns: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .project-layout-item {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .copy-subhead {
    font-size: 25px;
  }

  /* .image-list {
    flex-flow: row wrap;
    width: 1000px;
    justify-content: center;
  }

  .image-list-item {
    width: 310px;
  }

  .mobile-image-list-item {
    display: none;
  }

  .large-showcase-item {
    width: 90vw;
  }

  .showcase-item {
    width: 90vw;
  }

  #keyforms-gif {
    width: 90vw;
    margin: 20px;
  } */
}

@media only screen and (max-width: 900px) {
  .project-layout {
    display: grid;
    grid-template-columns: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .project-layout-item {
    margin-left: 40px;
    margin-right: 40px;
  }

  /* .image-list {
    width: auto;
  }

  .image-list-item {
    width: 200px;
    margin: 10px;
  } */
}

@media only screen and (max-width: 500px) {
  .project-layout {
    display: grid;
    grid-template-columns: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .project-layout-item {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .project-headline {
    font-size: 35px;
  }

  .copy-subhead {
    font-size: 25px;
  }

  /* #keyforms-layout {
    display: grid;
    grid-template-columns: auto;
  }

  .image-showcase-headline {
    font-size: 40px;
  }

  .image-list {
    display: none;
  }

  .image-list-item {
    width: 200px;
    margin: 10px;
  }

  #nightwalk-vid {
    width: 300px;
    height: 240px;
  }

  .showcase-mobile-item {
    width: 300px;
    height: 100%;
  } */
}

/* #keyforms-gif {
  width: 80vh;
  margin: 20px;
}

#keyforms-layout {
  display: grid;
  grid-template-columns: auto auto;
}

#keyforms-image {
  width: 450px;
}

#contact-header {
  background-image: url("../images/work-page/CONTACT/page-header.png");
}

#becca-header {
  background-image: url("../images/work-page/Becca/page-header.png");
}

#keyforms-header {
  background-image: url("../images/work-page/Keyforms/tabprev.png");
}

#cayuse-header {
  background-image: url("../images/work-page/Cayuse x HP Reveal/tabprev.png");
}

#bkbridge-header {
  background-image: url("../images/work-page/People of the Bridge/tabprev.png");
}

#photo-nightwalk-header {
  background-image: url("../images/work-page/Photo-Nightwalk/tabprev.png");
}

#smith-9th-header {
  background-image: url("../images/work-page/Smith-9th/tabprev.png");
}

.image-list {
  display: flex;
  flex-flow: column wrap;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

.image-list-item {
  width: 400px;
  margin: 10px;
}

.mobile-image-list-item {
  width: 350px;
  margin: 10px;
}

.image-showcase {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.mobile-image-showcase {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.large-showcase-item {
  width: 80vw;
  margin: 10px;
}

.showcase-item {
  width: 700px;
  margin: 10px;
}

.showcase-mobile-item {
  height: 600px;
  margin: 10px;
} */
