:root {
    --color-brand-000: #297C5C;
    --color-brand-050: #2E604E;
    --color-brand-100: #285444;

    --color-bg-white: #FFFFFF;
    --color-bg-darkgreen: #297C5C;
    --color-bg-dark: #202020;
    --color-bg-light: #E3E3E3;

    --color-text-default: #202020;
    --color-text-link-hover: #297C5C;
    --color-text-link-active: #2E604E;
    --color-text-light: #FFFFFF;

    --color-element-black: #202020;

    --button-bg-fill: #297C5C;
    --button-bg-fill-hover: #2E604E;
    --button-bg-fill-active: #285444;
    --button-bg-nofill: #F0F0F0;
    --button-bg-nofill-hover: #E1E1E1;
    --button-bg-nofill-active: #CECECE;

    --button-text-fill: #FFFFFF;
    --button-text-nofill: #202020;

    --button-stroke-fill: #297C5C;
    --button-stroke-fill-hover: #2E604E;
    --button-stroke-fill-active: #285444;
    --button-stroke-nofill: #202020;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-VariableFont_wght.ttf") format("truetype-variations");
    font-weight: 1 999;
}

@font-face {
    font-family: "Libre Bold";
    src: url("../fonts/LibreBaskerville-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Libre Reg";
    src: url("../fonts/LibreBaskerville-Regular.ttf") format("truetype");
}

/* Text styles */

h1 {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 2.5rem;
    color: var(--color-text-default);
}

h2 {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 2rem;
    color: var(--color-text-default);
}

h3 {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--color-text-default);
}

p {
    font-family: "Libre Reg";
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.6;
    color: var(--color-text-default);
}

.caption {
    font-family: "Libre Reg";
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.6;
    color: var(--color-text-default);
    margin-top: 0.5rem;
}

/* Button styles */

.button {
    cursor: pointer;
    border-radius: 0.5rem;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 1rem;
    margin: 0px;
    padding: 1rem;
}

/* Filled buttons */

.button-fill {
    border: 1px solid var(--button-stroke-fill);
    background-color: var(--button-bg-fill);
    color: var(--button-text-fill);
}

.button-fill:hover {
    background-color: var(--button-bg-fill-hover);
    filter: drop-shadow(5px 5px 10px var(--color-bg-light));
}

.button-fill-active {
    background-color: var(--button-bg-fill-active);
}

/* Unfilled buttons */

.button-nofill {
    border: 1px solid var(--button-stroke-nofill);
    background-color: var(--button-bg-nofill);
    color: var(--button-text-nofill);
}

.button-nofill:hover {
    background-color: var(--button-bg-nofill-hover);
    filter: drop-shadow(5px 5px 10px var(--color-bg-light));
}

.button-nofill-active {
    background-color: var(--button-bg-nofill-active);
}

/* Filled icons */

.ham {
    cursor: pointer;

    #ham-path {
        fill: var(--button-stroke-nofill);
    }
}

.ham:hover {
    
    #ham-path {
        fill: var(--button-bg-fill);
    }
}

.icon-fill {
    cursor: pointer;
    border-radius: 0.5rem;

    #linkedin-container {

        #linkedin-fill {
            fill: var(--button-bg-fill);
        }
    }
}

.icon-fill:hover {
    filter: drop-shadow(5px 5px 10px var(--color-bg-light));

    #linkedin-container {

        #linkedin-fill {
            fill: var(--button-bg-fill-hover);
        }
    }
}

.icon-fill:active {
    #linkedin-container {

        #linkedin-fill {
            fill: var(--button-bg-fill-active);
        }
    }
}

/* Hyperlink decorations */

.hyperlink-text-Libre {
    font-family: "Libre Bold";
    font-weight: 700;
    color: var(--color-brand-000);
}

.hyperlink-text-Libre:hover, :active {
    color: var(--color-brand-050);
}

.hyperlink-text-Mont {
    font-family: "Montserrat";
    font-weight: 700;
    color: var(--color-brand-000);
}

.hyperlink-text-Mont:hover, :active {
    color: var(--color-brand-050);
}

a {
    color: inherit;
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

/* Content modifiers */

.prevent-select {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

/* Content styling */

.navigation-container {
    background-color: var(--color-bg-white);
    border-right: 1px solid var(--color-element-black);
    z-index: 1;
}

.navigation-text {
    font-family: "Montserrat";
    font-weight: 400;
    text-align: right;
    color: var(--color-text-default);
}

.navigation-text:hover {
    font-weight: 700;
    color: var(--color-brand-000);
}

.navigation-text:active {
    color: var(--color-text-link-active);
}

#current-page {
    font-family: "Montserrat";
    font-weight: 700;
}

#footer {
    border-top: 1px solid var(--color-element-black);
}

.home-item {
    background-color: var(--color-brand-000);

    .home-header {
        color: var(--color-text-light);
    }

    .home-subhead {
        color: var(--color-text-light);
    }
}

@media only screen and (max-width: 1450px) {

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.25rem;
    }

    .navigation-container {
        border-right: 0;
        border-bottom: 1px solid var(--color-element-black);
    }

    .navigation-text {
        text-align: left;
    }

}

@media only screen and (max-width: 800px) {

    h1 {
        font-size: 1.75rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.25rem;
    }

}