.work-section {
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 10px;
}

#briefcase-container {
  display: flex;
  justify-content: center;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: fit-content;
  margin: auto;
  margin-bottom: 30px;
  transition: all 1s;
}

#briefcase-container:hover {
  background-image: url("../images/home-page/briefcase.png");
}

#work-header {
  font-family: "CooperHewitt Bold";
  color: #007bff;
  font-size: 60px;
  text-align: center;
}

#work-header:hover {
  color: rgb(0, 123, 255, 0.025);
  transition: all .2s;
}

.work-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.work-grid-item {
  width: 20vw;
  height: 20vw;
  margin: 10px;
  border-radius: 10px;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 1s;
}

.work-grid-item:hover {
  background-size: 110%;
}

.centered-text {
  text-align: center;
  font-family: "CooperHewitt Bold";
  opacity: 0;
  color: white;
  font-size: 20px;
  line-height: 20vw;
  background-color: rgb(0, 123, 255, 0.0);
  text-decoration: none;
  border-radius: 10px;
  transition: all 1s;
}

.centered-text:hover {
  font-size: 24px;
  background-color: rgb(0, 123, 255, 0.8);
  opacity: 1;
}

#work1 {
  background-color: #0E0E0E;
  background-image: url("");
  background-size: cover;
  background-repeat: no-repeat;
}

#work1:hover {
  transition: 1s;
  background-color: #dbc600;
}

#furnishstore-tab {
  background-image: url("../images/work-page/furnishstore/thumbnail.png");
  transition: all 1s;
}

#furnishstore-tab:hover {
  background-image: url("../images/work-page/furnishstore/app.gif");
}

#heebiekeebies-tab {
  background-image: url("../images/work-page/heebiekeebies/tabprev-noop.png");
  transition: all 1s;
}

#heebiekeebies-tab:hover {
  background-image: url("../images/work-page/heebiekeebies/thumbnail_anim.gif");
}

#projectalone-tab {
  background-image: url("../images/work-page/PROJECT-Alone/tabprev-noop.png");
  transition: all 1s;
}

#projectalone-tab:hover {
  background-image: url("../images/work-page/PROJECT-Alone/thumbnail_anim.gif");
}

#slashmc-tab {
  background-image: url("../images/work-page/slashMC/tabprev-noop.png");
}

#audiokast-tab {
  background-image: url("../images/work-page/Audiokast/tabprev-noop.png");
}

#collabapp-tab {
  background-image: url("../images/work-page/CollabApp/tabprev-noop.png");
}

#projectnightwalk-tab {
  background-image: url("../images/work-page/PROJECT-Nightwalk/thumbnail.png");
}

@media only screen and (max-width: 1200px) {
  #work-header {
    font-size: 40px;
  }

  #work-subhead {
    font-size: 22px;
    width: 900px;
  }

  .work-grid {
    grid-template-columns: auto auto auto;
  }

  .centered-text {
    font-size: 16px;
  }

  .centered-text:hover {
    font-size: 20px;
  }
}

@media only screen and (max-width: 900px) {
  #work-header {
    font-size: 40px;
  }

  #work-subhead {
    font-size: 18px;
    width: 700px;
  }

  .work-grid {
    grid-template-columns: auto auto;
  }

  .work-grid-item {
    width: 40vw;
    height: 40vw;
    margin: 5px;
  }

  .centered-text {
    font-size: 26px;
    line-height: 40vw;
  }

  .centered-text:hover {
    font-size: 30px;
  }
}

@media only screen and (max-width: 500px) {
  #work-header {
    font-size: 30px;
  }

  .work-grid {
    grid-template-columns: auto auto;
  }

  .work-grid-item {
    width: 40vw;
    height: 40vw;
    margin: 5px;
  }

  .centered-text {
    font-size: 12px;
    line-height: 40vw;
  }

  .centered-text:hover {
    font-size: 16px;
  }
}

@media only screen and (max-width: 390px) {
  #work-header {
    font-size: 30px;
  }

  #work-subhead {
    font-size: 18px;
    width: 340px;
  }

  .work-grid {
    grid-template-columns: auto;
  }

  .work-grid-item {
    width: 80vw;
    height: 80vw;
    margin: 5px;
  }

  .centered-text {
    font-size: 24px;
    line-height: 80vw;
  }

  .centered-text:hover {
    font-size: 28px;
  }
}
