.navigation {
    background-color: rgba(255, 255, 255, 1);
    position: sticky;
    top: 0px;
    width: 100%;
    height: 100px;
    z-index: 0;
}

.navigation-textbox {
    width: 75vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
}

.project-title {
    margin: 10vh auto;
    text-align: justify;
}

.split {
    margin: 20vh auto auto auto;
}

.minisplit {
    margin: 5vh auto auto auto;
}

.two-set {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-column-gap: 5vw;
    grid-template-rows: auto;
    row-gap: 0;
    justify-content: space-between;
}

.two-set-image {
    display: flex;
    flex-direction: row;
}

.reversed {
    flex-direction: row-reverse;
}

.copy-text-set {
    width: 42.5%;
    margin: auto;
}

.copy-image-set {
    width: 45%;
    margin: auto;
}

.callout-text {
    padding: 24px 0px 24px 0px;
}

.callout-title {
    font-weight: bold;
    margin-bottom: 36px;
}

.callout-body {
    text-align: justify;
    margin-bottom: 16px;
}

.full-page-container {
    width: 100vw;
    margin: 75px auto 75px auto;
    text-align: center;
}

.full-page-image {
    width: 80%;
}

.quote-box {
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin: 72px auto auto auto;
    padding: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.quote {
    width: auto;
    padding-left: 40px;
    margin: auto;
}

.image-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20vh auto auto auto;
    width: 100%;
    justify-content: center;
}

.image-grid-item {
    width: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px;
}

.image-large {
    width: 100%;
}

@media only screen and (max-width: 768px) {

    .split {
        margin: 15vh auto auto auto;
    }

    .project-title {
        text-align: left;
    }

    .two-set {
        grid-template-columns: auto;
        grid-column-gap: 0;
        grid-template-rows: 47.5% 47.5%;
        row-gap: 5%;
    }

    .two-set-image {
        flex-direction: column-reverse;
    }

    .copy-text-set {
        width: 100%;
    }
    
    .copy-image-set {
        width: 100%;
        margin-bottom: 20px;
    }

    .callout-body {
        text-align: left;
    }

    .callout-text {
        width: 100%;
    }

    .full-page-container {
        width: 100vw;
    }
    
    .full-page-image {
        width: 100%;
    }

    .image-grid {
        width: 100vw;
        justify-items: center;
        margin: 15vh auto auto auto;
    }


    .image-grid-item {
        width: 90%;
        margin: 10px auto 10px auto;
    }
}