/* Header for home */
.landing-box {
  color: #252525;
  min-height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 13vh auto auto auto;
}

#landing-pfp {
  min-width: 300px;
  width: 12vw;
  border-radius: 4vw;
  margin-right: 20px;
}

#landing-textbox {
  width: auto;
  max-width: 60vw;
  margin: auto auto auto 30px;
}

#home-head {
  font-size: 72px;
}

#home-subhead {
  line-height: 1.6;
}

/* Layout for projects on home page */
.work-category {
  margin-bottom: 8px;
}

.work-title {
  margin-bottom: 16px;
}

.work-component {
  display: flex;
  flex-direction: row;
  margin: 20vh auto auto auto;
  min-height: 300px;
}

.reversed {
  flex-direction: row-reverse;
}

.work-image {
  width: 47.5%;
  margin: auto;
}

.desktop-image {
  display: initial;
}

.mobile-image {
  display: none;
}

.work-textbox {
  max-width: 45%;
  margin: auto;
}

.disclaimer {
  margin-top: 20px;
}

@media only screen and (max-width: 768px) {

  /* Header for page */
  .landing-box {
    flex-direction: column;
  }

  #landing-textbox {
    margin: auto auto auto 0px;
  }

  #home-head {
    font-size: 48px;
    margin: 20px 0px 0px 0px;
  }

  #home-subhead {
    margin: 10px 0px 0px 0px;
  }

  /* Layout for projects on home page */
  .work-component {
    flex-direction: column;
  }

  .work-image {
    width: 75vw;
  }

  .desktop-image {
    display: none;
  }

  .mobile-image {
    display: initial;
  }

  .work-textbox {
    max-width: 75vw;
    margin: 40px 0px 0px 0px;
  }

  .reversed {
    flex-direction: column;
  }
}